*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

link {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.header {
  background-color: #FFB8CA;
}

.hero-section {
  background-color: #FFB8CA;
}

.products-section {
  padding-top: 127px;
  padding-bottom: 119px;
  text-align: center;
}
@media screen and (min-width: 772px) {
  .products-section {
    display: flex;
    justify-content: center;
  }
}

.products-container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 771px) {
  .products-container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 772px) {
  .products-container {
    max-width: 771px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .products-container {
    max-width: 1280px;
    padding-left: 112px;
    padding-right: 112px;
  }
}

.products-title-container {
  font-family: Titan One;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 230px;
}
@media screen and (min-width: 772px) {
  .products-title-container {
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .products-title-container {
    margin-bottom: 250px;
  }
}

.products-section__name {
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  color: #FFA5BA;
}

.products-section__title {
  font-size: 34px;
  line-height: 66px;
  letter-spacing: 0.06em;
  color: #D41443;
}
@media screen and (min-width: 772px) {
  .products-section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .products-section__title {
    font-size: 58px;
  }
}

.products-section__list {
  margin-top: 161px;
}
@media screen and (min-width: 772px) {
  .products-section__list {
    display: flex;
    justify-content: center;
  }
}

.products-section__item {
  position: relative;
  padding: 161px 41px 41px;
  border-radius: 24px;
  width: 280px;
}
@media screen and (max-width: 771px) {
  .products-section__item:not(:last-child) {
    margin-bottom: 256px;
  }
}
@media screen and (min-width: 772px) {
  .products-section__item:not(:last-child) {
    margin-right: 20px;
  }
}

.products-section__img {
  position: absolute;
  bottom: 75%;
  left: 6%;
  width: 249px;
}
@media screen and (min-width: 772px) {
  .products-section__img {
    width: 220px;
    left: 6%;
    top: -20%;
  }
}
@media screen and (min-width: 1280px) {
  .products-section__img {
    width: 337px;
    top: -43%;
    left: 5%;
  }
}

.products-section__item--ice {
  background-color: #FFA5BA;
}

.products-section__item--coffee {
  background-color: #F0D1A5;
}

.products-section__item--milkshakes {
  background-color: #C2E297;
}

.products-section__type {
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .products-section__type {
    font-size: 30px;
    line-height: 34px;
  }
}

.products-section__type::after {
  content: "...";
  display: block;
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.products-section__text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .products-section__text {
    font-size: 16px;
    line-height: 28px;
  }
}

.products-section__button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  border: 0;
  color: #D41443;
  font-size: 20px;
  font-weight: 700;
}

.made-section {
  background: #FFF5F6;
  padding-top: 125px;
  padding-bottom: 60px;
}

.made-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 772px) {
  .made-container {
    width: 772px;
  }
}
@media screen and (min-width: 1280px) {
  .made-container {
    width: 1280px;
  }
}

.title-container {
  text-align: center;
}

@media screen and (min-width: 772px) {
  .img-container {
    display: flex;
  }
}

.made-section__texxt {
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.94px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFA5BA;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (min-width: 772px) {
  .made-section__texxt {
    font-size: 26px;
    line-height: 29.77px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__texxt {
    font-size: 30px;
    line-height: 34px;
  }
}

.made-section__title {
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #D41443;
  text-transform: uppercase;
  margin-bottom: 26px;
}
@media screen and (min-width: 772px) {
  .made-section__title {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__title {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 771px) {
  .made-section_cow {
    width: 280px;
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 772px) {
  .made-section_cow {
    width: 340px;
    height: 339px;
    margin-right: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section_cow {
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
}

@media screen and (min-width: 772px) {
  .texxt-container {
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .texxt-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 436px;
  }
}

.made-section__first-text {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.44px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000000;
  margin-bottom: 45px;
}
@media screen and (max-width: 771px) {
  .made-section__first-text {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (min-width: 772px) {
  .made-section__first-text {
    font-size: 14px;
    line-height: 22.64px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__first-text {
    font-size: 16px;
    line-height: 28px;
  }
}

.made-section__second-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.44px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #907E82;
  margin-bottom: 30px;
}
@media screen and (max-width: 771px) {
  .made-section__second-text {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.made-section__second-text span {
  display: flex;
  margin-top: 10px;
}

.made-section__button {
  background-color: #FFFFFF;
  color: #D41443;
  border: 0;
  padding: 15px 37px;
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 39px;
}

.made-section__number {
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.04em;
  color: #D41443;
  margin-bottom: 13px;
}
@media screen and (min-width: 772px) {
  .made-section__number {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__number {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.made-section__text {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 20.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}
@media screen and (min-width: 772px) {
  .made-section__text {
    font-size: 14px;
    line-height: 24.36px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__text {
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (min-width: 772px) {
  .made-section__list {
    display: flex;
    align-items: baseline;
  }
}

.made-section__item:not(:last-child) {
  margin-bottom: 38px;
}
@media screen and (min-width: 772px) {
  .made-section__item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 772px) {
  .made-section__item:not(:last-child):not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 771px) {
  .made-section__img {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 772px) {
  .made-section__img {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__img {
    margin-bottom: 40px;
  }
}

.contacts-section {
  background-color: rgb(255, 245, 246);
  padding-bottom: 165px;
}

.contacts-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 772px) {
  .contacts-container {
    width: 770px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-container {
    width: 1280px;
  }
}

.contacts-section__list {
  margin-bottom: 86px;
}
@media screen and (min-width: 772px) {
  .contacts-section__list {
    display: flex;
    justify-content: center;
  }
}

.contacts-section_item {
  position: relative;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  background-color: #FFFFFF;
  border-radius: 24px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  width: 220px;
  padding: 43px 21px;
}
@media screen and (max-width: 771px) {
  .contacts-section_item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 772px) {
  .contacts-section_item {
    padding: 50px 31px;
    font-size: 14px;
  }
}
@media screen and (min-width: 772px) {
  .contacts-section_item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-section_item {
    padding: 53px 43px 61 42px;
    font-size: 16px;
    width: 330px;
  }
}

.contacts-title {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: rgb(240, 209, 165);
  color: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 32px;
  padding: 1px 15px;
  display: inline-block;
  text-transform: uppercase;
}
@media screen and (min-width: 772px) {
  .contacts-title {
    font-size: 16px;
  }
}

.contacts-title__second {
  background-color: rgb(194, 226, 151);
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 3px 15px;
  margin-bottom: 32px;
  display: inline-block;
}

.contacts-city {
  color: #000000;
  margin-bottom: 10px;
}

.contacts-text {
  color: #907E82;
  font-size: 14px;
  margin-bottom: 49px;
  line-height: 18px;
}
@media screen and (min-width: 771px) {
  .contacts-text {
    line-height: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-text {
    line-height: 29px;
  }
}

.contacts-day__list::after {
  position: absolute;
  content: "";
  width: 200px;
  bottom: 23%;
  height: 1px;
  background-color: #E1E1E1;
}
@media screen and (min-width: 772px) {
  .contacts-day__list::after {
    width: 170px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-day__list::after {
    bottom: 26%;
    width: 280px;
  }
}

.contacts-day__list::before {
  position: absolute;
  content: "";
  width: 200px;
  top: 43%;
  height: 1px;
  background-color: #E1E1E1;
}
@media screen and (min-width: 772px) {
  .contacts-day__list::before {
    top: 45%;
    width: 170px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-day__list::before {
    top: 42%;
    width: 280px;
  }
}

.contacts-day__name {
  color: #000000;
  margin-bottom: 15px;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .contacts-day__name:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-day__name span {
  color: #FFA5BA;
  display: flex;
  margin-top: 5px;
}
@media screen and (min-width: 772px) {
  .contacts-day__name span {
    margin-bottom: 10px;
  }
}

.contacts-address__list {
  margin-top: 63px;
}

@media screen and (min-width: 772px) {
  .contacts-address__item:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-address__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-address__link {
  text-decoration: none;
  color: rgb(144, 126, 130);
}

.contacts-section__btn {
  text-align: center;
}

.contacts__button {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #D41342;
  border-radius: 22px;
  border: 0px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 35px;
  margin-right: 15px;
}

.contacts__button.second {
  background-color: #FFFFFF;
  color: #D41443;
  padding: 10px 39px;
}

.footer {
  background-color: #FFF5F6;
}

.footer-container {
  width: 100%;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 772px) {
  .footer-container {
    width: 770px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 32px;
  }
}

.footer-title {
  font-family: Titan One;
  font-weight: 400;
}
@media screen and (max-width: 771px) {
  .footer-title {
    margin-bottom: 43px;
    width: 400px;
  }
}

.footer-title__first {
  letter-spacing: 0.04em;
  color: #FFA5BA;
}
@media screen and (max-width: 771px) {
  .footer-title__first {
    font-size: 18px;
    line-height: 20.61px;
  }
}
@media screen and (min-width: 772px) {
  .footer-title__first {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-title__first {
    font-size: 30px;
    line-height: 34px;
  }
}

.footer-title__second {
  letter-spacing: 0.06em;
  color: #D41443;
}
@media screen and (max-width: 771px) {
  .footer-title__second {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 772px) {
  .footer-title__second {
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-title__second {
    font-size: 58px;
    line-height: 66px;
  }
}

@media screen and (max-width: 771px) {
  .networks-container {
    margin-bottom: 46px;
  }
}

.networks-list {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 772px) {
  .networks-list {
    margin-bottom: 50px;
  }
}

.networks-item {
  background-color: #FEA5BB;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.networks-item:not(:last-child) {
  margin-right: 25px;
}
@media screen and (max-width: 771px) {
  .networks-item {
    width: 32px;
    height: 32px;
  }
}

.footer-contact {
  font-family: DM Sans;
  letter-spacing: 0em;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 771px) {
  .footer-contact {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 65px;
  }
}
@media screen and (min-width: 772px) {
  .footer-contact {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact {
    font-size: 16px;
    line-height: 29.76px;
  }
}

.footer-contact__text {
  color: #000;
  margin-right: 5px;
}

.footer-contact__phone {
  color: #D41443;
  text-decoration: none;
}
@media screen and (min-width: 1280px) {
  .footer-contact__phone {
    font-weight: 500;
  }
}

.footer-copyright {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #907E82;
}

.footer-copyright::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

@media screen and (min-width: 771px) {
  .container-desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }
}
@media screen and (min-width: 1280px) {
  .container-desktop {
    margin-bottom: 97px;
  }
}/*# sourceMappingURL=main.css.map */