html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-left: 0;
  margin-right: 0;
}

body {
  margin: 0;
  font-style: normal;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #FFB8CA;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .header-container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    width: 1280px;
    justify-content: space-around;
  }
}

.header-button__svg {
  margin-left: 10px;
}

.menu-container {
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 100vh;
    background-color: #E17992;
    padding: 55px 24px 20px 24px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1279px) {
  .menu-container {
    position: fixed;
    right: 0%;
    padding: 55px 24px 20px 24px;
    background-color: #E17992;
    top: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

.button-menu {
  z-index: 4;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .button-menu {
    margin-left: 162px;
  }
}
@media screen and (min-width: 1280px) {
  .button-menu {
    display: none;
  }
}

.button-menu .icon-close {
  display: none;
}

.button-menu.is-open .icon-close {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

.button-menu.is-open {
  position: absolute;
  z-index: 5;
  top: 25px;
  right: 15px;
}

.menu-container.is-open {
  display: flex;
}

.header-button {
  padding: 10px 37px;
  border: 0;
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #ffffff;
  color: #D41443;
}
@media screen and (max-width: 767px) {
  .header-button {
    margin-top: 10px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 1279px) {
  .header-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .header-button {
    margin-left: 110px;
  }
}

.site-nav__list {
  font-family: DM Sans;
  letter-spacing: 0em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav__list {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .site-nav__item:not(:last-child) {
    margin-right: 35px;
  }
}
@media screen and (max-width: 1279px) {
  .site-nav__item {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e18298;
    display: flex;
    align-items: center;
  }
}

.site-nav__link {
  color: #ffffff;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #D41443;
}

.hero {
  background-color: #FFB8CA;
  overflow: hidden;
}

.hero-container {
  position: relative;
  width: 100%;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 768px;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1280px;
  }
}

.hero-mob__section {
  display: flex;
}

/*first-blok*/
.first-blok {
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .first-blok {
    margin-left: 55px;
  }
}

.first-blok__title {
  font-family: Titan One;
  text-transform: uppercase;
  text-align: left;
  max-width: 218px;
}
@media screen and (max-width: 767px) {
  .first-blok__title {
    padding-bottom: 117px;
    padding-top: 137px;
  }
}
@media screen and (min-width: 767px) {
  .first-blok__title {
    padding-top: 15px;
    max-width: 162px;
  }
}
@media screen and (min-width: 1280px) {
  .first-blok__title {
    max-width: 277px;
    padding-top: 115px;
  }
}

.first {
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
}
@media screen and (min-width: 767px) {
  .first {
    line-height: 22px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .first {
    line-height: 38px;
    font-size: 43px;
    margin-bottom: 25px;
  }
}

.second {
  font-size: 48px;
  line-height: 45px;
  color: #D41443;
  margin-bottom: 20px;
}
@media screen and (min-width: 767px) {
  .second {
    line-height: 34px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .second {
    line-height: 58px;
    font-size: 53px;
  }
}

.first-blok__button {
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #D41342;
  border-radius: 20px;
  border: 0px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 15px;
}
@media screen and (min-width: 1280px) {
  .first-blok__button {
    line-height: 19px;
    font-size: 14px;
  }
}

.first-blok__button-second {
  background-color: #FFFFFF;
  color: #D41342;
}

@media screen and (max-width: 767px) {
  .first-blok__mob {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .first-blok__mob {
    display: flex;
    align-items: flex-end;
    margin-bottom: 28px;
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .first-blok__mob {
    margin: 0;
  }
}

.first-blok__text {
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 7px;
}
@media screen and (min-width: 1280px) {
  .first-blok__text {
    font-size: 14px;
    line-height: 20px;
  }
}

.first-blok__img {
  width: 124px;
}
@media screen and (min-width: 1280px) {
  .first-blok__img {
    width: 188px;
  }
}

@media screen and (min-width: 768px) {
  .first-blok__btn {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 0;
  }
}

/*second-blok*/
.second-blok {
  position: relative;
}

.hero-img {
  position: absolute;
  bottom: 0%;
}
@media screen and (max-width: 767px) {
  .hero-img {
    width: 171px;
    left: -30%;
  }
}
@media screen and (min-width: 768px) {
  .hero-img {
    width: 143px;
    left: 21%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-img {
    width: 226px;
    left: 45%;
  }
}

.circle {
  position: relative;
  border-radius: 50%;
  border: solid #ffa5ba;
  background-color: #ffa5ba;
}
@media screen and (max-width: 767px) {
  .circle {
    width: 346px;
    height: 344px;
    left: -55%;
    top: 0%;
  }
}
@media screen and (min-width: 768px) {
  .circle {
    width: 324px;
    height: 322px;
  }
}
@media screen and (min-width: 1280px) {
  .circle {
    width: 538px;
    height: 538px;
    top: -4%;
    left: 70px;
  }
}

/*third-blok_institution*/
@media screen and (max-width: 767px) {
  .third-blok {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .third-blok {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.third-blok__list {
  margin-bottom: 72px;
}

.first-blok__item {
  position: relative;
}

.third-blok__number {
  position: relative;
  font-family: Titan One;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  color: #D41443;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .third-blok__number {
    font-size: 46px;
    line-height: 52px;
  }
}

.third-blok__institution {
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  .third-blok__institution {
    font-size: 14px;
    line-height: 19px;
  }
}

.third-blok__img {
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .third-blok__img {
    width: 168px;
  }
}
@media screen and (min-width: 1280px) {
  .third-blok__img {
    width: 293px;
  }
}

.third-blok__item::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 16px;
  height: 16px;
  top: 10%;
  right: 3%;
}
@media screen and (min-width: 1280px) {
  .third-blok__item::before {
    width: 30px;
    height: 30px;
    right: 1%;
    top: 17%;
  }
}

.title {
  font-family: Titan One;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .title-products {
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .title-products {
    margin-bottom: 265px;
  }
}

.title-made {
  text-align: center;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .title-made {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .title-made {
    margin-bottom: 55px;
  }
}

.title-footer {
  font-family: Titan One;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .title-footer {
    margin-bottom: 43px;
    width: 234px;
  }
}
@media screen and (min-width: 768px) {
  .title-footer {
    max-width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .title-footer {
    max-width: 480px;
  }
}

.title-first {
  font-size: 18px;
  line-height: 20.61px;
  color: #FFA5BA;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .title-first {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .title-first {
    font-size: 30px;
    line-height: 34px;
  }
}

.title-second {
  font-size: 34px;
  line-height: 38.93px;
  letter-spacing: 0.06em;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .title-second {
    font-size: 48px;
    line-height: 54.96px;
  }
}
@media screen and (min-width: 1280px) {
  .title-second {
    font-size: 58px;
    line-height: 66px;
  }
}

.products-section {
  padding-top: 127px;
  padding-bottom: 119px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products-section {
    display: flex;
    justify-content: center;
  }
}

.products-container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .products-container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .products-container {
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .products-container {
    max-width: 1280px;
    padding-left: 112px;
    padding-right: 112px;
  }
}

.products-section__list {
  margin-top: 161px;
}
@media screen and (max-width: 767px) {
  .products-section__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .products-section__list {
    display: flex;
    justify-content: center;
  }
}

.products-section__item {
  position: relative;
  padding: 161px 41px 41px;
  border-radius: 24px;
  width: 280px;
}
@media screen and (max-width: 767px) {
  .products-section__item:not(:last-child) {
    margin-bottom: 256px;
  }
}
@media screen and (min-width: 768px) {
  .products-section__item:not(:last-child) {
    margin-right: 20px;
  }
}
.products-section__item--ice {
  background-color: #FFA5BA;
}
.products-section__item--coffee {
  background-color: #F0D1A5;
}
.products-section__item--milkshakes {
  background-color: #C2E297;
}

.products-section__img {
  position: absolute;
  bottom: 75%;
  left: 6%;
  width: 249px;
}
@media screen and (min-width: 768px) {
  .products-section__img {
    width: 220px;
    left: 2%;
    top: -20%;
  }
}
@media screen and (min-width: 1280px) {
  .products-section__img {
    width: 337px;
    top: -43%;
    left: -10%;
  }
}

.products-section__type {
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .products-section__type {
    font-size: 30px;
    line-height: 34px;
  }
}
.products-section__type::after {
  content: "...";
  display: block;
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.products-section__text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .products-section__text {
    font-size: 16px;
    line-height: 28px;
  }
}

.products-section__button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  border: 0;
  color: #D41443;
  font-size: 20px;
  font-weight: 700;
}

.made-section {
  background: #FFF5F6;
  padding-top: 125px;
  padding-bottom: 60px;
}

.made-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .made-container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .made-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .made-container {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .img-container {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .made-section_cow {
    width: 280px;
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .made-section_cow {
    width: 340px;
    height: 339px;
    margin-right: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section_cow {
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
}

@media screen and (min-width: 768px) {
  .texxt-container {
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .texxt-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 436px;
  }
}

.made-section__first-text {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.44px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000000;
  margin-bottom: 45px;
}
@media screen and (max-width: 767px) {
  .made-section__first-text {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (min-width: 768px) {
  .made-section__first-text {
    font-size: 14px;
    line-height: 22.64px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__first-text {
    font-size: 16px;
    line-height: 28px;
  }
}

.made-section__second-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.44px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #907E82;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .made-section__second-text {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.made-section__second-text span {
  display: flex;
  margin-top: 10px;
}

.made-section__button {
  background-color: #FFFFFF;
  color: #D41443;
  border: 0;
  padding: 15px 37px;
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 39px;
}

.made-section__number {
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.04em;
  color: #D41443;
  margin-bottom: 13px;
}
@media screen and (min-width: 768px) {
  .made-section__number {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__number {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.made-section__text {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 20.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .made-section__text {
    font-size: 14px;
    line-height: 24.36px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__text {
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .made-section__list {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .made-section__item {
    width: 230px;
  }
}
.made-section__item:not(:last-child) {
  margin-bottom: 38px;
}
@media screen and (min-width: 767px) {
  .made-section__item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 768px) {
  .made-section__item:not(:last-child):not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .made-section__img {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .made-section__img {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .made-section__img {
    margin-bottom: 40px;
  }
}

.contacts-section {
  background-color: rgb(255, 245, 246);
  padding-bottom: 165px;
}

.contacts-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .contacts-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts-container {
    width: 770px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-container {
    width: 1280px;
  }
}

.contacts-section__list {
  margin-bottom: 86px;
}
@media screen and (min-width: 768px) {
  .contacts-section__list {
    display: flex;
    justify-content: center;
  }
}

.contacts-section_item {
  position: relative;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  background-color: #FFFFFF;
  border-radius: 24px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  width: 220px;
  padding: 43px 21px;
}
@media screen and (max-width: 767px) {
  .contacts-section_item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-section_item {
    padding: 50px 31px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-section_item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-section_item {
    padding: 53px 43px 61 42px;
    font-size: 16px;
    width: 330px;
  }
}

.contacts-title {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: rgb(240, 209, 165);
  color: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 32px;
  padding: 1px 15px;
  display: inline-block;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    font-size: 16px;
  }
}

.contacts-title__second {
  background-color: rgb(194, 226, 151);
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 3px 15px;
  margin-bottom: 32px;
  display: inline-block;
}

.contacts-city {
  color: #000000;
  margin-bottom: 10px;
}

.contacts-text {
  color: #907E82;
  font-size: 14px;
  margin-bottom: 49px;
  line-height: 18px;
}
@media screen and (min-width: 767px) {
  .contacts-text {
    line-height: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-text {
    line-height: 29px;
  }
}

.contacts-day__list::after {
  position: absolute;
  content: "";
  width: 180px;
  bottom: 23%;
  height: 1px;
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .contacts-day__list::after {
    width: 170px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-day__list::after {
    bottom: 26%;
    width: 280px;
  }
}

.contacts-day__list::before {
  position: absolute;
  content: "";
  width: 180px;
  top: 43%;
  height: 1px;
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .contacts-day__list::before {
    top: 45%;
    width: 170px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-day__list::before {
    top: 42%;
    width: 280px;
  }
}

.contacts-day__name {
  color: #000000;
  margin-bottom: 15px;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .contacts-day__name:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-day__name span {
  color: #FFA5BA;
  display: flex;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .contacts-day__name span {
    margin-bottom: 10px;
  }
}

.contacts-address__list {
  margin-top: 63px;
}

@media screen and (min-width: 768px) {
  .contacts-address__item:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-address__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-address__link {
  text-decoration: none;
  color: rgb(144, 126, 130);
}

.contacts-section__btn {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contacts-section__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts-section__svg {
  margin-left: 10px;
}

.contacts__button {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #D41342;
  border-radius: 22px;
  border: 0px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 27px;
}

.contacts__button-first {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__button-first {
    margin-right: 15px;
  }
}

.contacts__button-second {
  background-color: #FFFFFF;
  color: #D41443;
  padding: 10px 39px;
}

.footer {
  background-color: #FFF5F6;
}

.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer-container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    width: 770px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .networks-container {
    margin-bottom: 46px;
  }
}

.networks-list {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .networks-list {
    margin-bottom: 50px;
  }
}

.networks-item {
  background-color: #FEA5BB;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.networks-item:not(:last-child) {
  margin-right: 25px;
}
@media screen and (max-width: 767px) {
  .networks-item {
    width: 32px;
    height: 32px;
  }
}

.footer-contact {
  font-family: DM Sans;
  letter-spacing: 0em;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer-contact {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 65px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact {
    font-size: 16px;
    line-height: 29.76px;
  }
}

.footer-contact__text {
  color: #000;
  margin-right: 5px;
}

.footer-contact__phone {
  color: #D41443;
  text-decoration: none;
}
@media screen and (min-width: 1280px) {
  .footer-contact__phone {
    font-weight: 500;
  }
}

.footer-copyright {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #907E82;
}

.footer-copyright::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #E1E1E1;
}

@media screen and (min-width: 767px) {
  .container-desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }
}
@media screen and (min-width: 1280px) {
  .container-desktop {
    margin-bottom: 97px;
  }
}/*# sourceMappingURL=main.css.map */