.hero{
   background-color:$primary-background-color;
   overflow: hidden;
}

.hero-container{
   position: relative;
   width: 100%;
   min-width: 320px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
   @media screen and (min-width: 480px){
      width: 480px;
   }
   @media screen and (min-width: 768px) {
      width: 768px;
      display: flex;
   }
   @media screen and (min-width: 1280px) {
    width: 1280px;
   }
}

.hero-mob__section{
   display: flex;
}

/*first-blok*/
.first-blok{
   z-index: 1;
   @media screen and (min-width: 1280px) {
      margin-left: 55px;
   }
}
.first-blok__title{  
   font-family: Titan One;
   text-transform: uppercase;
   text-align: left;
  
   max-width: 218px;

   @media screen and (max-width: 767px) {
      padding-bottom: 117px;
      padding-top: 137px;
   }
   @media screen and (min-width: 767px) {
      padding-top: 15px;
      max-width: 162px;
      // margin-left: 30px;
   }
   @media screen and (min-width: 1280px) {
      max-width: 277px;
      padding-top: 115px;
     
   }
}
.first{
   font-size: 26px;
   line-height: 30px;
   color: $primary-white-color;

   @media screen and (min-width: 767px) {
      line-height: 22px;
      font-size: 26px;
   }
   @media screen and (min-width: 1280px) {
      line-height: 38px;
      font-size: 43px;
      margin-bottom: 25px;
   }
}
.second{
   font-size: 48px;
   line-height: 45px;
   color:$second-title-color;
   margin-bottom: 20px;

   @media screen and (min-width: 767px) {
      line-height: 34px;
      font-size: 30px;
   }

   @media screen and (min-width: 1280px) {
      line-height: 58px;
      font-size: 53px;
   }
}
.first-blok__button{
   
   font-size: 8px;
   font-weight: 700;
   line-height: 11px;
   letter-spacing: 0em;
   text-align: center;
   
   background-color: $second-title-color;
   border-radius: 20px;
   border: 0px;
   color: $primary-white-color;
   cursor: pointer;
   
   padding: 10px 15px;
   @media screen and (min-width: 1280px) {
      line-height: 19px;
      font-size: 14px;
   }
      &:hover,
      &:focus {
         background-color: $button-burgundy-color;
      }
}
.first-blok__button-second{
   background-color: $primary-white-color;
   color: $second-title-color;

   &:hover,
   &:focus{
      background-color: $button-hover-color;
   }
}
.first-blok__mob{
@media screen and (max-width: 767px) {
      display: none;
   }
@media screen and (min-width: 768px) {
   display: flex;
   align-items: flex-end;
   margin-bottom: 28px;
   margin-left: 24px;
   
}
@media screen and (min-width: 768px) {
   margin: 0;
}

}
.first-blok__text {
   
   font-size: 8px;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 0em;
   text-align: left;
   color: $primary-white-color;
   margin-bottom: 7px;
 
   @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 20px;
      }
}
.first-blok__img {
   width: 124px;
   @media screen and (min-width: 1280px) {
      width: 188px;
   }
}
.first-blok__btn{
   @media screen and (min-width: 768px) {
      background-color: $primary-white-color;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      border: 0;
      }
   
   
}
/*second-blok*/
.second-blok{
   position: relative;
}
.hero-img {
   position: absolute;
   bottom: 0%;
   @media screen and (max-width: 767px) {
      width: 171px;
      left: -30%;
   }
   @media screen and (min-width: 768px) {
      width: 143px;
      left: 21%;
   }
   @media screen and (min-width: 1280px) {
      width: 226px;
      left: 45%;
   }
}
.circle{
   position: relative;
   border-radius: 50%;
   border: solid $first-title-color;
      background-color: $first-title-color;
   @media screen and (max-width: 767px) {
         width: 346px;
         height: 344px;
         left: -55%;
         top: 0%;
      }
   @media screen and (min-width: 768px) {
         width: 324px;
         height: 322px;

      }
   @media screen and (min-width: 1280px) {
      width: 538px;
      height: 538px;
      top: -4%;
      left: 70px;
   }
 
}

/*third-blok_institution*/

.third-blok {
   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 768px) {
      text-align: right;
      display: flex;

      flex-direction: column;
      justify-content: flex-end;
   }
}
.third-blok__list{
   margin-bottom: 72px;
   
}
.first-blok__item{
   position: relative;
}

.third-blok__number{
   position: relative;
   font-family: Titan One;
   font-size: 28px;
   font-weight: 400;
   line-height: 32px;
   color:$second-title-color;
   z-index: 1;

   @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 52px;
      }
  
}
.third-blok__institution{
   
   font-size: 8px;
   font-weight: 400;
   line-height: 10px;
   letter-spacing: 0em;
   color: $primary-white-color;

   @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 19px;
      }
}

.third-blok__img{
   z-index: 1;
   @media screen and (max-width: 1279px) {
      width: 168px;
      
   }
   @media screen and (min-width: 1280px) {
         width: 293px;
   }
   
}
.third-blok__item::before{
content: "";
position: absolute;
border-radius: 50%;
background-color: $primary-white-color;
width: 16px;
height: 16px;
top: 10%;
right: 3%;;

@media screen and (min-width: 1280px) {
   width: 30px;
   height: 30px;
   right: 1%;
   top:17%;
   }
}

