.made-section{
    background: #FFF5F6;
}
.made-section__texxt{
    font-family: Titan One;
        font-size: 30px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #FFA5BA;
        text-transform: uppercase;
}
.made-section__title{
    font-family: Titan One;
        font-size: 58px;
        font-weight: 400;
        line-height: 66px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #D41443;

        text-transform: uppercase;
}
.made-section__first-text{
    font-family: DM Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.04em;
        text-align: left;

        color: #000000;
}
.made-section__second-text{
    font-family: DM Sans;
        font-size: 14px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0.04em;
        text-align: left;

        color:#907E82;
}
.made-section__button{
    background-color: #FFFFFF;
    color: #D41443;
    border: 0;
    padding: 15px 37px;
    border-radius: 22px;

    font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;

}
.made-section__number{
    font-family: Titan One;
        font-size: 58px;
        font-weight: 400;
        line-height: 66px;
        letter-spacing: 0.04em;
        
        color: #D41443;
}

.made-section__text{
    font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #000000;
}