.products-section{
    padding-top: 127px;
    padding-bottom: 119px;

    text-align: center;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}
.products-container{
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
       
        }
    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 34px;
        padding-right: 34px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding-left: 112px;
        padding-right: 112px;
    }
}

.products-section__list{
    margin-top: 161px;

    
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @media screen and (min-width: 768px) {
        display:flex;
        justify-content: center;
    } 
}
.products-section__item{
    position: relative;

    padding: 161px 41px 41px;
    border-radius: 24px;
    width: 280px;
    
    &:not(:last-child){
        @media screen and (max-width: 767px) {
    margin-bottom: 200px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 20px;
        }
    }

    &--ice{
    background-color: $pink-card-color;
    }
    &--coffee{
    background-color:$milky-card-color;
    }
    &--milkshakes{
    background-color: $green-card-color;
    }
}
.products-section__img{
    position: absolute;
    bottom: 75%;
    left: 6%;
    width: 249px;
    @media screen and (min-width: 768px) {
        width: 220px;
        left: 2%;
        top: -20%;
    }
     @media screen and (min-width: 1280px) {
        width: 337px;
        top: -43%;
        left: -10%;
     }
}

.products-section__type{
font-family: Titan One;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;

    text-transform: uppercase;
    

    color: $primary-white-color;
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 34px;
    }
    &::after {
        content: "...";
        display: block;
        font-size: 25px;
        letter-spacing: 3px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    
}

.products-section__text{
    
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.04em;
     
    color: $primary-white-color;

    margin-bottom: 30px;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 28px;
    }
}
.products-section__button{
    width: 40px; 
    height: 40px;
    background-color: $primary-white-color;
    border-radius: 50%;
    border: 0;

    color: $second-title-color;
    font-size: 20px;
    font-weight: 700;
}