$first-title-color:#FFA5BA;
$second-title-color:#D41443;
$primary-white-color:#FFFFFF;
$pink-background-color:#FFF5F6;
$primary-background-color:#FFB8CA;
$menu-background-color:#E17992;
$black-text-color:#000000;
$grey-text-color:#907E82;
$pink-card-color:#FFB8CA;
$milky-card-color:#F0D1A5;
$green-card-color:#C2E297;
$grey-border-bottom:#E1E1E1;
$footer-networks-color:#FEA5BB;
$button-hover-color:#ECEBEB;
$button-burgundy-color:#C7133E;